/* Float four columns side by side */

.column {
    float: left;
    width: 25%;
}

.column2 {
    justify-content: flex-start;
    width: 50px;
    position: absolute;
}

.column3 {
    padding-left: 330px;
    justify-content: flex-end;
    width: 50px;
    position: absolute;
}


/* Responsive columns */

@media screen and (min-width: 360px) {
    .column {
        display: block;
        margin-bottom: 20px;
    }
}