                        /* The hero image */
                        
                        .hero-image {
                            width: 3250px;
                            height: 300px;
                            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
                            /* Set a specific height */
                            height: 60vh;
                            width: 47vw;
                            /* Position and center the image to scale nicely on all screens */
                            background-position: left;
                            background-repeat: no-repeat;
                            position: relative;
                            margin: 0%;
                        }
                        
                        .hero-text {
                            position: absolute;
                            width: 120px;
                            height: 259px;
                            left: 780px;
                            top: 110px;
                            font-size: 20px;
                            background-color: none;
                        }
                        
                        .rectangle {
                            position: relative;
                            width: 900px;
                            height: 900px;
                            left: 540px;
                            top: 0px;
                        }
                        
                        .heroColumn {
                            flex-direction: column-reverse;
                        }
                        
                        @media (min-width: 360px) {
                            .hero-image {
                                position: relative;
                                width: 360px;
                                height: 288px;
                                left: 0px;
                                top: 22px;
                            }
                            .hero-text {
                                position: absolute;
                                width: 320px;
                                height: 117px;
                                left: 20px;
                                top: 48px;
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 38px;
                                display: flex;
                                align-items: center;
                            }
                        }