body,
html {
    height: 100%;
}


/* The hero image */

.hero-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 450px;
    height: 350px;
}

.hero-text {
    text-align: left;
    position: absolute;
}

@media screen and (min-width: 360px) {
    .hero-text {
        text-align: left;
        position: relative;
        left: 0px;
        top: 0px;
        align-content: center;
    }
}