.mid-text {
    background-color: #FBE4FF;
    color: black;
    padding: 10px 10px;
}

.mid-img {
    background-position: 50% 0%;
    background-size: cover;
}

.miColumn {
    float: left;
    width: 25%;
}


/* Remove extra left and right margins, due to padding in columns */

.midRow {
    margin: 0 -5px;
}


/* Clear floats after the columns */

.midRow:after {
    content: "";
    display: table;
    clear: both;
}

.midCard {
    /* this adds the "card" effect */
    text-align: left;
    width: 100%;
}


/* Responsive columns - one column layout (vertical) on small screens */

@media screen and (min-width: 360px) {
    .midColumn {
        width: 50%;
        display: block;
        margin-bottom: 20px;
    }
}