/* The hero image */

.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    /* Set a specific height */
    height: 80vh;
    width: 55vw;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


/* Place text in the middle of the image */

.col-md-6 text-right {
    text-align: right;
    position: absolute;
    top: 70%;
    left: 20%;
    transform: translate(-50%, -50%);
}