        @import "navbar";
        @import "hero";
        @import "card";
        body,
        html {
            height: 100%;
            background-color: black;
        }
        
        .text-color {
            color: rgb(248, 242, 242);
        }
        
        .page {
            padding: 40px, 72px;
            display: flex;
            flex-wrap: wrap;
        }
        
        .page>* {
            padding: 1rem;
        }
        
        .sidebar {
            background: var(--color-primary-x-light);
            outline: 1px solid var(--color-primary);
            flex-grow: 1;
            flex-basis: 12rem;
        }
        
        .content {
            flex-basis: 0;
            flex-grow: 2;
            min-width: 70%;
        }
        /* Extrinsic sizes on this page simulate the small viewport for you */
        
        body {
            max-width: 50rem;
            min-height: unset;
            padding: 1rem;
            background: var(--color-off-white);
            margin: 1rem auto;
        }